body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: #f5f5f5;
      background-image: url("../Images/img3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 70px;
    background-color: #282828;
    background-image: url("../Images/img1.jpg");
    background-size: cover;
    background-position: center;
    
  
    
}
.change1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(250, 250, 250);
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
li{
    display: inline-block;
    padding: 15px 30px;
}
a{
    text-decoration: none;
    text-align: center;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
}
a:hover{
    text-decoration: none;
    color: #3979ad;
    transition: 0.5s;
}
.container{
    position: absolute;
    text-align: center;
    width: 100%;
    color: aliceblue;
}
#particles-js {
    /* background: black; */
    height: 20vh;
}
.head h2{
    color: black;
    padding: 40px 0 30px; 
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.table-responsive{
    padding: 23px;
}
.table{
    margin: auto;
   width: 80% 
}
.state
{
   background-color: black;
}
.active
{
    background:linear-gradient(to bottom right,rgb(8, 21, 207),rgb(119, 162, 243));
}
.recovered
{
   
    background:linear-gradient(to bottom right,rgb(10, 73, 10),rgb(104, 252, 104));
}
.deaths
{
    background:linear-gradient(to bottom right,rgb(54, 53, 53),rgb(122, 122, 122));
}
.confirmed
{ 
    background:linear-gradient(to bottom right,rgb(255, 2, 2),rgb(252, 130, 130));
}
.change1 {
    animation: changetext 1s infinite;
    text-shadow: 1px 1.5px red;
  }
  @keyframes changetext {
    0% {
      color: rgb(241, 235, 235);
    }
    25% {
      color: rgb(34, 153, 19);
    }
    50% {
      color: blue;
    }
  }
  .container h1
  {
      text-align: center;
      margin-top: 55px;
  }

  .container h1{
    animation: change 2.1s infinite;
    text-shadow: 1px 1.5px red;
  }
  @keyframes change {
    0% {
      color: rgb(241, 235, 235);
    }
    25% {
      color:red;
    }
    50% {
      color: blue;
    }
  }
.link a
{
    font-weight: bolder;
    font-size:18px ;
}
.link li a {
    color: blanchedalmond;
    text-decoration: none;
  }
  .link li a:hover {
    text-decoration: underline;
    box-shadow: 4px 4px 2px rgb(245, 165, 165);
  }